.download-section{
    background: RGBA(206, 224, 224, 1);
background: linear-gradient(135deg, rgba(206, 224, 224, 1) 0%, rgba(186, 214, 214, 1) 33%, rgba(176, 204, 214, 1) 66%, rgba(156, 184, 234, 1) 100%);
    padding: 100px 10%;
}

.container-download {
  width: 400px;
  height: auto;
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}


.card {
  border: none;
}

.icon {
  font-size: 60px;
  color: #f4b400;
  margin-bottom: 10px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #222;
}

.btn-download {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0078D4;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-download:hover {
  background-color: #005a9e;
}