@import url("../css/navegacao.css");
@import url("../css/banner.css");
@import url("../css/responsivo.css");
@import url("../css/contato.css");
@import url("../css/rodape.css");
@import url("../css/programacao.css");
@import url("../css/about.css");
@import url("../css/palestrantes.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content{

margin: 0 auto;
padding: 0 20px;
max-width: 85%;
}

h2{
    margin-bottom: 15px;
}