:root{
    --white-color: #ffffff;
    --dark-color: #000000;
}
.menu-section{
   color: var(--white-color);
   background: var(--dark-color);
}
.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
}

.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;


}