:root{
    --white-color: #ffffff;
    --dark-color: #000000;
}
.menu-section{
   color: var(--white-color);
   background: #928a8a;
   padding: 5px;
}
.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(33.33% - 110px);
}

.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;


}