/* Estilo para tablets (1024px para baixo) */
@media screen and (max-width: 1024px) {
    .palestrantes-section .palestrantes-item {
        gap: 60px;
    }
    .palestrantes-section .palestrantes-item .child-item {
        width: calc(100%/2 - 60px);
    }
}

/* Menu mobile e ajustes gerais (920px para baixo) */
@media screen and (max-width: 920px) {
    /* Menu mobile */
    .navbar .nav-menu {
        display: flex;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
		color: white;
        height: 100vh;
        background: white;
        flex-direction: column;
        align-items: center;
        padding: 100px 30px;
        transition: 0.3s cubic-bezier(1,.4,1,1.1);
		z-index: 2;
		backdrop-filter: blur(8px) contrast(0.8) brightness(0.7) saturate(1.8);
		background: linear-gradient(135deg, rgba(12, 11, 11, 0.774), rgba(10, 10, 10, 0.959)) !important;
        /**/
    }
	
	.navbar .navout {
        position: fixed;
        left: -301px;
        top: 0;
        width: 1px;
        height: 1px;
        background: rgba(0, 0, 0, 0);
		z-index: 1;
    }
    
    body.mobile-menu-show header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        
    }
    
    .navbar .nav-menu .nav-link {
        color: white;
        font-size: larger;
        display: block;
        margin-top: 17px;
    }

    .navbar .nav-menu .subscribe{
        color: white;
    }
    
    .navbar #menu-fechar-button, 
    .navbar #menu-abrir-button {
        display: block;
        font-size: larger;
    }
    
    .navbar #menu-fechar-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }
    
    .navbar #menu-abrir-button {
        color: white;
    }
    
    body.mobile-menu-show .navbar .nav-menu {
        left: 0;
		transition: 0.3s cubic-bezier(0,.2,.15,.85);
		
    }
	
	body.mobile-menu-show .navbar .navout {
        left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(18, 18, 18, 0.87);
		transition: background 0.3s cubic-bezier(0,.2,.15,.85);
    }
    /* Banner section */
    .banner-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .banner-section .banner-details :is(.subtitulo, .descricao), 
    .about-section.banner-details {
        max-width: 100%;
    }
    
    .banner-section .banner-details .botoes {
        justify-content: center;
    }
    
    .banner-section .banner-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    /* Palestrantes section */
    .palestrantes-section .palestrantes-item {
        gap: 30px;
        flex-direction: column;
    }
    
    .palestrantes-section .palestrantes-item .child-item {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    
    .palestrantes-section .palestrantes-item .menu-image {
        max-width: 200px;
        width: 75%;
        margin: 0 auto;
    }

    /* About section */
    .about-section {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .about-section .section-content {
        flex-direction: column;
        gap: 30px;
    }
    
    .about-section .about-details .text,
    .programacao-section .text {
        max-width: 100%;
        margin: 0;
        text-align: justify;
        line-height: 1.8;
    }

    /* Programação section */
    .programacao-section {
        padding: 120px 0 !important;
    }
    
    .table-container {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
    }

    .container-download{
        width: 100% !important;
    }


    .palestrantes-section{
        padding-left : 0 !important;
        padding-right: 0 !important;
    }

    /*Patrocinio section*/

    .row-patrocinio {
        gap: 0px !important;
        display: block !important;
    }
    
    .patrocinio-item{
        padding: 50px 50px 50px 0px !important;
    }
}
@media screen and (max-width: 410px) {
    #programacaoContent {
        width: 100%;
        height: auto;
        font-size: 12px;
        overflow-x: auto;
    }

    .container-download{
        width: auto;
    }

    .table-container {
        font-size: 10px;
    }

    .table-container th, 
    .table-container td {
        padding: 5px;
    }
    
    /* Ajustes adicionais para mobile muito pequeno */
    .navbar, .section-content .nav-menu {
        width: 250px;
        padding: 80px 20px;
    }
    
    .palestrantes-section .palestrantes-item .menu-image {
        width: 60%;
    }
}
@media screen and (max-width: 400px) {
    #programacaoContent {
        width: 100%;
        height: auto;
        font-size: 12px;
        overflow-x: auto;
    }

    .table-container {
        font-size: 10px;
    }

    .table-container th, 
    .table-container td {
        padding: 5px;
    }
    
    /* Ajustes adicionais para mobile muito pequeno */
    .navbar, .section-content .nav-menu {
        width: 250px;
        padding: 80px 20px;
    }
    
    .palestrantes-section .palestrantes-item .menu-image {
        width: 60%;
    }

    


}

@media screen and (max-width: 400px) {
    html {
        transform-origin: top left !important;
        width: 100% !important;
        height: 100% !important;
    }

    .navbar.section-content {
        width: 250px;
        padding: 80px 20px;
        margin-left: 0px;

    }

    #menu-fechar-button{
        margin-left: 150px;
    }

    @media screen and (width: 390px) {

        .navbar.section-content {
            width: 250px;
            padding: 80px 20px;
            margin-left: auto;
    
        }

    }

}
