.rodape {
    background: #000;
    color: white;
    padding: 20px 0;
    align-items: center;
}

.social-link{
    color: white;
    gap: 20px;
    color: white;
}
.rodape-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}